@use "../../assets/sharedStyles/variables.scss" as *;
@use "../../assets/sharedStyles/functions.scss" as *;
@use "../../assets/sharedStyles/mixins.scss" as *;

.container {
    @include centerColumn;
    width: 100%;
    height: 100%;
    background-image: url("../../assets//images/casino.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $app-background;
}
