@use "../../assets/sharedStyles/variables.scss" as *;
@use "../../assets/sharedStyles/functions.scss" as *;
@use "../../assets/sharedStyles/mixins.scss" as *;

.container {
    @include centerColumn;
    justify-content: space-around;
    background-color: $app-background;
}

.flex {
    @include centerColumn;
    width: 100%;
    height: 50px;
}

.title {
    height: 20px;
    color: $text-color;
    cursor: pointer;
}

.title:hover {
    font-size: 40px;
}

.gameBtn {
    width: 80%;
    height: 20%;
    background-color: rgba(0, 226, 251, 0.35);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.gameBtn:hover {
    background-color: rgba(0, 226, 251, 0.7);
    transform: scale(1.05);
}
