@use "../../assets/sharedStyles/mixins.scss" as *;
@use "../../assets/sharedStyles/animations.scss" as *;
@use "../../assets/sharedStyles/functions.scss" as *;

.container {
    // position: absolute;
    // text-align: center;
    // @include center;
    display: flex;
    // align-items: flex-end;
}

.left {
    margin-left: 100px;
    width: 100%;
    background-color: rgb(17, 17, 236);
}

.playerTurn {
    border: 3px solid transparent;
    border-radius: 5px;
    transition: border 0.5s;

    animation: shadow() 1s infinite;
    border: 5px solid #32a852;
    width: 500px;
}

.up {
    margin-top: 90px;
}
.down {
    margin-top: -90px;
    margin-right: -30px;
    width: 25px;
}
.right {
    margin-left: -220px;
    width: 100%;
}
